- presenter.primary_tags.each do |tag|
  li.no-dot
    | ##{link_to tag.name, tag.path, class: 'p-category'}

- if presenter.more_tags.any?
  li.list-inline-item(data-controller="dropdown")
    a(href="javascript:void(0)" data-target="dropdown.toggle" data-action="click->dropdown#toggle click@window->dropdown#hide")
      = t('.presenter_more', presenter: (presenter.more_tags.size))

    ul.dropdown(data-target="dropdown.dropdown")
      - presenter.more_tags.each do |tag|
        li.dropdown__item
          = link_to "##{tag.name}", tag.path, class: 'p-category'
