= narrow_layout do
  h2.text--center.text--lg.fw--600
    = Setting.site_title

  .box
    .box__body
      = simple_form_for(resource, as: resource_name,
                                  url: user_confirmation_path,
                                  method: :post,
                                  wrapper: :spectre_vertical_form) do |f|

        = f.input :email, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
        = f.button :submit, t('.resend_confirmation_instructions'), class: 'btn btn--primary btn--block'

  = render "devise/shared/links"
