.box
  .box__body
    h1.page-title
      = @account.username

      - if @account.suspended?
        span.label-n.label-n-danger.ml-2.mr-2 = t('.suspended')

      - elsif @account.silenced?
        span.label-n.label-n-secondary.ml-2 = t('.silenced')

    table.table.mb-4
      tbody
        tr
          td = t('.username')
          td = @account.username

        tr
          td = t('.domain')
          td = @account.domain

        tr
          td = t('.display_name')
          td = @account.display_name

        - if @user.present?
          tr
            td = t('.permissions')
            td = @user.is_admin? ? t('.admin') : t('.user')

          tr
            td = t('.e_mail')
            td
              = link_to @user.email, "mailto:#{@user.email}"

          tr
            td = t('.last_ip')
            td = @user.current_sign_in_ip

        tr
          td = t('.last_activity')
          td = @account.last_active_at

        tr
            td = t('.followers')
            td = @account.followers_count

        tr
            td = t('.following')
            td = @account.following_count

        tr
            td = t('.posts')
            td = @account.stories_count

        tr
            td = t('.comments')
            td = @account.comments_count

    - if policy(@account).silence?
      - if @account.silenced?
        a.btn.btn-outline--success.mr-2(
          href=unsilence_admin_account_path(@account)
          data-method="post"
          data-confirm="Are you sure you want to unsilence this user?"
        ) = t('.unsilence')
      - else
        a.btn.btn-outline--secondary.mr-2(
          href=silence_admin_account_path(@account)
          data-method="post"
          data-confirm="Are you sure you want to silence this user?"
        ) = t('.silence')

    - if policy(@account).suspend?
      a.btn.btn-outline--danger(
        href=suspend_admin_account_path(@account)
        data-method="post"
        data-confirm="Are you sure? This action can't be reverted"
      ) = t('.suspend')
