.box.account-head.mb--3.h-card
  .box__body
    = form_tag url_for(controllers: params[:controller], action: params[:action]), method: :get do
      .input-group
        = text_field_tag :q, params[:q], class: 'form-control form-control--md', placeholder: t('.search'), autofocus: true

        button.btn.btn--primary.btn--md.input-group__btn(type="submit")
          i.fe.fe-search

  .box__nav.text--base
    ul.tab.tab--block.p--0
      li.tab__item
        = active_link_to search_posts_path(q: params[:q]), active: :exclusive do
          = t('.stories')

      li.tab__item
        = active_link_to search_comments_path(q: params[:q]) do
          = t('.comments')
