.label {
  padding: var(--space-xxxxs) var(--space-xxxs);
  display: inline-block;
  border-radius: var(--border-radius-sm);
  font-size: 75%;
  position: relative;
  top: -1px;
}

.label--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.label--secondary {
  background: var(--color-contrast-low);
  color: var(--color-white);
}

.label--success {
  background: var(--color-success);
  color: var(--color-white);
}

.label--danger {
  background: var(--color-accent);
  color: var(--color-white);
}

.label--rounded {
  border-radius: 2em;
  padding-left: var(--space-xxs);
  padding-right: var(--space-xxs);
}
