= paginator.render
  .box.paginator
    .box__body
      ul.list-inline
        li.list-inline__item
          == prev_page_tag
        li.list-inline__item
          | #{current_page}/#{total_pages}
        li.list-inline__item
          == next_page_tag