.box-n
  .box-n-body.p-4
    h1.h4= t('.flag_a_resource')

    = render 'flags/preview'

    .alert-n.alert-n--info
      p.text-xs= t('.there_is_already_a')

    = render 'flags/form', resource: @flag_form, data: { 'disable-with' => t('.saving') }
