- bookmarklet_presenter = BookmarkletPresenter.new

.box
  .box__body.text-component.text-component--sm
    = BodyParser.new(Setting.site_guideline).call.html_safe

.box
  .box__body
    .text-component.text-component--sm
      p = t('.bookmarklet_description')

    .mt--sm
      a.btn.btn-outline--secondary.btn--sm.btn--block(href=bookmarklet_presenter.href)
        = t('.add_to', site_title: Setting.site_title)
