- presenter_opts = { liked_ids: @account_liked_story_ids, current_user: current_user }
- presenter = StoryPresenter.new(story, presenter_opts)
- account = presenter.account

.story-row.story-row--phone(data-controller="story" data-liked=presenter.liked?.to_s class=presenter.root_classes)
  ul.story-row__meta
    = render 'stories/_story/meta_primary', presenter: presenter,
                                            story: story,
                                            account: account,
                                            show_tags: false

  .story-row__thumb(class=presenter.thumb_classes)
      a(style=presenter.thumb_styles href=story_path(story))

  h3.story-row__title
    - if story.url.present?
      = link_to presenter.story.name, presenter.story.url, target: '_blank'
    - else
      = link_to presenter.story.name, story_path(story)

  - if presenter.excerpt.present?
    p.story-row__excerpt
      = presenter.excerpt

  ul.story-row__meta
    li
      a.story-row__score-btn(
        data-action="click->story#toggleLike"
        data-target="story.likeBtn"
        data-action-path=toggle_like_api_ujs_story_path(story)
      )
        span.story-row__likes-count
          = story.likes_count

    = render 'stories/_story/meta_secondary', presenter: presenter,
                                              story: story,
                                              account: account
