= render 'shared/popular_tags'

.box
  .box__nav
    ul.tab
      li.tab__item
        = active_link_to t('.hot'), root_path, active: :exclusive
      li.tab__item
        = active_link_to t('.recent'), recent_stories_path

  = render 'stories/list', stories: @stories

= paginate @stories, theme: :mini_box
