.container
  .mt-4
    h2 = t('.text_component')

    .grid
      .col
        .text-component
          h1= t('.regular')
          p= t('.lorem_ipsum_dolor_sit')
          p= t('.lorem_ipsum_dolor_sit')
          h2= t('.heading_2')
          p= t('.lorem_ipsum_dolor_sit')
          h2= t('.heading_3')
          p= t('.lorem_ipsum_dolor_sit')

      .col
        .text-component.text-component--sm
          h1= t('.small')
          p= t('.lorem_ipsum_dolor_sit')
          ul
            li= t('.lorem_ipsum_dolor_sit_1')
            li= t('.fuga_culpa_aliquid_eius')
          p= t('.lorem_ipsum_dolor_sit')
          h2= t('.heading_2')
          p= t('.lorem_ipsum_dolor_sit')
          h2= t('.heading_3')
          p= t('.lorem_ipsum_dolor_sit')

    hr

    h2 = t('.dropdowns')

    .grid
      .col
        ul.dropdown.dropdown--opened(style="width: 280px")
          li.dropdown__item
            a = t('.my_profile')
          li.dropdown__item
            a.active = t('.settings')
          li.dropdown__divider(data-content="Divider")
          li.dropdown__item
            a = t('.log_out')

      .col
        div(data-controller="dropdown")
          a.btn.btn--primary(href="javascript:void(0)" data-target="dropdown.toggle" data-action="click->dropdown#toggle click@window->dropdown#hide")
            = t('.click_me')

          ul.dropdown(style="width: 280px" data-target="dropdown.dropdown")
            li.dropdown__item
              a = t('.my_profile')
            li.dropdown__item
              a = t('.settings')
            li.dropdown__item
              a = t('.admin')
            li.dropdown__divider
            li.dropdown__item
              a = t('.log_out')

    hr

    h2 = t('.popovers')

    div(data-controller="popover" data-popover-placement="bottom-start")
      a.btn.btn--primary(
        href="javascript:void(0)"
        data-target="popover.toggle"
        data-action="mouseenter->popover#delayedOpen"
      )
        = t('.hover_me')

      div.box-n.popover-n(
        style="width: 280px"
        data-target="popover.popover"
        data-action="mouseleave->popover#delayedClose"
      )
        .box-n-body
          span = t('.popover_content_goes_here')

    hr

    h2 = t('.buttons')

    h6 = t('.filled')
    .margin-bottom--xs
      a.btn.btn--lg.btn--primary.margin-right--xs = t('.button')
      a.btn.btn--lg.btn--secondary.margin-right--xs = t('.button')
      a.btn.btn--lg.btn--success.margin-right--xs = t('.button')
      a.btn.btn--lg.btn--danger.margin-right--xs = t('.button')

    .margin-bottom--xs
      a.btn.btn--primary.margin-right--xs = t('.button')
      a.btn.btn--secondary.margin-right--xs = t('.button')
      a.btn.btn--success.margin-right--xs = t('.button')
      a.btn.btn--danger.margin-right--xs = t('.button')

    .margin-bottom--xs
      a.btn.btn--sm.btn--primary.margin-right--xs = t('.button')
      a.btn.btn--sm.btn--secondary.margin-right--xs = t('.button')
      a.btn.btn--sm.btn--success.margin-right--xs = t('.button')
      a.btn.btn--sm.btn--danger.margin-right--xs = t('.button')

    h6.margin-top--md = t('.outlined')

    div.margin-bottom--xs
      a.btn.btn--lg.btn-outline--primary.margin-right--xs = t('.button')
      a.btn.btn--lg.btn-outline--secondary.margin-right--xs = t('.button')
      a.btn.btn--lg.btn-outline--success.margin-right--xs = t('.button')
      a.btn.btn--lg.btn-outline--danger.margin-right--xs = t('.button')

    div.margin-bottom--xs
      a.btn.btn-outline--primary.margin-right--xs = t('.button')
      a.btn.btn-outline--secondary.margin-right--xs = t('.button')
      a.btn.btn-outline--success.margin-right--xs = t('.button')
      a.btn.btn-outline--danger.margin-right--xs = t('.button')

    div.margin-bottom--xs
      a.btn.btn--sm.btn-outline--primary.margin-right--xs = t('.button')
      a.btn.btn--sm.btn-outline--secondary.margin-right--xs = t('.button')
      a.btn.btn--sm.btn-outline--success.margin-right--xs = t('.button')
      a.btn.btn--sm.btn-outline--danger.margin-right--xs = t('.button')

    h6.margin-top--md = t('.loading')
    div.margin-bottom--xs
      a.btn.btn--lg.btn--primary.btn--loading.margin-right--xs = t('.loading')
      a.btn.btn--lg.btn--secondary.btn--loading.margin-right--xs = t('.loading')
      a.btn.btn--lg.btn--success.btn--loading.margin-right--xs = t('.loading')
      a.btn.btn--lg.btn--danger.btn--loading.margin-right--xs = t('.loading')

    div.margin-bottom--xs
      a.btn.btn--primary.btn--loading.margin-right--xs = t('.loading')
      a.btn.btn--secondary.btn--loading.margin-right--xs = t('.loading')
      a.btn.btn--success.btn--loading.margin-right--xs = t('.loading')
      a.btn.btn--danger.btn--loading.margin-right--xs = t('.loading')

    div.margin-bottom--xs
      a.btn.btn--sm.btn--primary.btn--loading.margin-right--xs = t('.loading')
      a.btn.btn--sm.btn--secondary.btn--loading.margin-right--xs = t('.loading')
      a.btn.btn--sm.btn--success.btn--loading.margin-right--xs = t('.loading')
      a.btn.btn--sm.btn--danger.btn--loading.margin-right--xs = t('.loading')

    div.margin-bottom--xs
      a.btn.btn-outline--primary.btn--loading.margin-right--xs = t('.loading')
      a.btn.btn-outline--secondary.btn--loading.margin-right--xs = t('.loading')
      a.btn.btn-outline--success.btn--loading.margin-right--xs = t('.loading')
      a.btn.btn-outline--danger.btn--loading.margin-right--xs = t('.loading')

    h6.margin-top--md = t('.disabled')
    div.margin-bottom--xs
      a.btn.btn-outline--primary.btn--disabled.margin-right--xs = t('.disabled')

    hr

    h2= t('.alerts')

    .alert.alert--info.margin-bottom--xs
      p= t('.this_is_info_alert')

    .alert.alert--success.margin-bottom--xs
      p= t('.this_is_success_alert')

    .alert.alert--warning.margin-bottom--xs
      p= t('.this_is_warning_alert')

    .alert.alert--danger.margin-bottom--xs
      p= t('.this_is_danger_alert')

    hr

    h2= t('.forms')

    .form-group
      label.form-label= t('.username')
      input.form-control(type="text" placeholder="Placeholder goes here...")

    .form-group
      label.form-label= t('.url')
      .input-group
        input.form-control(placeholder="https://...")
        button.btn.btn--primary.input-group__btn= t('.fetch_title')

    .form-group
      label.form-label= t('.description')
      textarea.form-control
      .form-hint= t('.form_input_hint_goes')

    .grid
      .col
        .radio-list
          label
            input(type="radio" name="x" value="1") Option 1
          label
            input(type="radio" name="x" value="2") Option 2
          label
            input(type="radio" name="x" value="3") Option 3

      .col
        .checkbox-list
          label
            input(type="checkbox" name="x" value="1") Option 1
          label
            input(type="checkbox" name="x" value="2") Option 2
          label
            input(type="checkbox" name="x" value="3") Option 3

    hr

    h2= t('.tabs')

    .grid
      .col
        ul.tab
          li.tab__item
            a.active= t('.music')
          li.tab__item
            a= t('.playlists')
          li.tab__item
            a= t('.radio')
          li.tab__item
            a= t('.store')

      .col
        ul.tab.tab--block
          li.tab__item
            a.active
              = t('.music')
              span.label.label--rounded.label--sm
                | 12
          li.tab__item
            a
              = t('.playlists')
              span.label.label--rounded.label--sm
                | 12

    hr

    h2= t('.labels')

    h6= t('.regular')
    span.label.label--primary.margin-right--xs= t('.primary_label')
    span.label.label--secondary.margin-right--xs= t('.secondary_label')
    span.label.label--success.margin-right--xs= t('.success_label')
    span.label.label--danger.margin-right--xs= t('.danger_label')

    h6.margin-top--sm= t('.rounded')
    span.label.label--primary.label--rounded.margin-right--xs= t('.primary_label')
    span.label.label--secondary.label--rounded.margin-right--xs= t('.secondary_label')
    span.label.label--success.label--rounded.margin-right--xs= t('.success_label')
    span.label.label--danger.label--rounded.margin-right--xs= t('.danger_label')

    hr

    h2= t('.boxes')
    .grid
      .col
        .box
          .box__body
            .text-component
              p= t('.lorem_ipsum_dolor_sit_1')

          ul.box__list
            li.box__list-item
              .media
                = image_tag 'https://randomuser.me/api/portraits/lego/6.jpg', class: 'avatar avatar--lg'
                .media__body
                  .media__title
                    strong= t('.the_avengers')
                  .text-component.text--muted
                    p= t('.lorem_ipsum_dolor_sit_1')

            li.box__list-item
              .media
                = image_tag 'https://randomuser.me/api/portraits/lego/6.jpg', class: 'avatar avatar--lg'
                .media__body
                  .media__title
                    strong= t('.the_avengers')
                  .text-component.text--muted
                    p= t('.lorem_ipsum_dolor_sit_1')

            li.box__list-item
              .media
                = image_tag 'https://randomuser.me/api/portraits/lego/6.jpg', class: 'avatar avatar--lg'
                .media__body
                  .media__title
                    strong= t('.the_avengers')
                  .text-component.text--muted
                    p= t('.lorem_ipsum_dolor_sit_1')

      .col
        .box
          ul.tab.box__nav
            li.tab__item
              a.active= t('.hot')
            li.tab__item
              a= t('.recent')

          .box__body
            .text-component
              p= t('.lorem_ipsum_dolor_sit_1')

    hr

    h2= t('.counters')

    .counter
      .counter__item
        span.counter__item__major= t('.1017')
        span.counter__item__minor= t('.karma')

      .counter__item
        span.counter__item__major 219
        span.counter__item__minor= t('.followers')

      .counter__item
        span.counter__item__major 12
        span.counter__item__minor= t('.following')

      .counter__item
        span.counter__item__major 51
        span.counter__item__minor= t('.likes')

      .counter__item
        span.counter__item__major 158
        span.counter__item__minor= t('.comments')

      .counter__item
        span.counter__item__major 8
        span.counter__item__minor= t('.comments')

    hr

    .grid
      .col
        h2= t('.avatars')

        = image_tag 'https://randomuser.me/api/portraits/lego/6.jpg', class: 'avatar avatar--xl margin-right--xs'
        = image_tag 'https://randomuser.me/api/portraits/lego/6.jpg', class: 'avatar avatar--lg margin-right--xs'
        = image_tag 'https://randomuser.me/api/portraits/lego/6.jpg', class: 'avatar margin-right--xs'
        = image_tag 'https://randomuser.me/api/portraits/lego/6.jpg', class: 'avatar avatar--sm margin-right--xs'
        = image_tag 'https://randomuser.me/api/portraits/lego/6.jpg', class: 'avatar avatar--xs margin-right--xs'

      .col
        h2= t('.media')

        .media.margin-bottom
          = image_tag 'https://randomuser.me/api/portraits/lego/6.jpg', class: 'avatar avatar--lg'
          .media__body
            .media__title
              strong= t('.the_avengers')
            .text-component.text--muted
              p= t('.lorem_ipsum_dolor_sit_1')

        .media
          = image_tag 'https://randomuser.me/api/portraits/lego/6.jpg', class: 'avatar avatar--lg'
          .media__body
            .media__title
              strong= t('.the_avengers')
            .text-component.text--muted
              p= t('.lorem_ipsum_dolor_sit_1')

          .media__action
            button.btn.btn-outline--danger.btn--sm
              i.fe.fe-feather

