= narrow_layout do
  h2.text--center.text--lg.fw--600
    = Setting.site_title

  .box
    .box__body
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        - if alert
          .alert.alert--danger.mb--sm = alert
        - elsif notice
          .alert.alert--info.mb--sm = notice

        = f.input :email
        = f.input :password

        .grid
          - if devise_mapping.rememberable?
            .col--7
              = f.input :remember_me, wrapper: :horizontal_collection, as: :boolean

          .col--5.text--right.pt-2
            = f.button :submit, t('.sign_in'), class: 'btn btn--block btn--primary'

  = render "devise/shared/links"
