= simple_form_for(@admin_settings, url: admin_settings_path, method: :patch) do |f|
  .box
    .box__body
      = f.input :site_title
      = f.input :site_description, as: :text
      = f.label :site_guideline, class: 'form-label'
      = render 'shared/markdown_editor', form: f, name: :site_guideline

  .box
    .box__body
      h5.text--md.fw--600.mb--sm = t('.settings')
      = f.input :open_registrations, as: :boolean, wrapper: :switch
      = f.input :closed_registrations_message, as: :text
      = f.input :webmentions_enabled, as: :boolean, wrapper: :switch

  .box
    .box__body
      h5.text--md.fw--600.mb--sm = t('.limits')

      = f.input :stories_per_day, as: :integer
      = f.input :story_likes_per_day, as: :integer
      = f.input :comment_likes_per_day, as: :integer
      = f.input :story_title_update_time_limit, as: :integer
      = f.input :edit_counter_grace_period_minutes, as: :integer

  = f.button :submit, t('.save_changes')
