.main-header__profile(
  data-controller="dropdown"
  data-dropdown-placement="bottom-end"
)
  a(href="javascript:void(0);" data-target="dropdown.toggle" data-action="click->dropdown#toggle click@window->dropdown#hide")
    = image_tag current_account.avatar_url(:size_60), class: 'avatar'

  ul.dropdown(data-target="dropdown.dropdown" style="min-width: 200px")
    li.dropdown__item
      .media.media--centered
        = image_tag current_account.avatar_url(:size_60), class: 'avatar'
        .media__body = current_account

    li.dropdown__divider
    li.dropdown__item
      = link_to t('.my_profile'), current_account.path
    li.dropdown__item
      = link_to t('.settings'), settings_profile_path

    - if current_user.is_admin?
      li.dropdown__item
        = link_to t('.admin'), edit_admin_settings_path

    li.dropdown__divider
    li.dropdown__item
      = link_to t('.sign_out'), destroy_user_session_path, data: { method: "delete" }