.box
  .box__body.p-4
    h1.page-title
      = t('.flag')

    table.table.mb--sm
      tbody
        tr
          td= t('.author')
          td = link_to @flag.actor.decorate, @flag.actor.decorate.path

        tr
          td= t('.object')
          td = link_to @flag.flaggable.decorate.to_flag_title, @flag.flaggable.decorate.path

        tr
          td= t('.summary')
          td = simple_format(@flag.summary)

        tr
          td= t('.resolved')
          td = @flag.action_taken?

        tr
          td= t('.created_at')
          td = @flag.created_at

    - if policy(@flag).resolve?
      - if @flag.action_taken?
        a.btn.btn-outline--danger.mr--sm(
          href=unresolve_admin_flag_path(@flag)
          data-method="post"
          data-confirm=t('.are_you_sure_unresolved')
        ) t('.unresolve')
      - else
        a.btn.btn-outline--success.mr--sm(
          href=resolve_admin_flag_path(@flag)
          data-method="post"
          data-confirm=t('.are_you_sure_resolved')
        ) t('.resolve')

